@namespace Ejemplos.Components

@using System.Globalization

@using static Ejemplos.Components.SelectObjectComponent

<div class="row clearfix">
    <div class="col-md-8 col-12">
        <div class="card">
            @if (Personas != null && Personas.Any())
            {
                @foreach (var item in Personas)
                {
                    <div class="body">
                        <div class="row">
                            <div>@item.Nombre</div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="body">
                    <div class="row">
                        <div>No hay personas disponibles</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<PersonaViewModel>? Personas { get; set; } = new();

    [Parameter]
    public EventCallback<List<PersonaViewModel>?> PersonasChanged { get; set; }

    private async Task NotifyPersonasChanged()
    {
        if (PersonasChanged.HasDelegate)
        {
            await PersonasChanged.InvokeAsync(Personas);
        }
    }
}