@page "/ref"

@rendermode InteractiveServer
@attribute [StreamRendering]

<h3>Ref</h3>

@inject IJSRuntime JS



<input type="text"  name="inputFoto" id="inputFoto" />


<button @onclick="OnMostrar">Mostrar</button>
    
@mostrar

@code {
    string mostrar = "";
    private ElementReference inputFotoRef;

    //document.getElementById('inputFoto').value='xxx'

    private async Task OnMostrar()
    {
        mostrar = await JS.InvokeAsync<string>("eval", "document.getElementById('inputFoto').value");
    }

}

@* <input type="text" @ref="inputFotoRef" @bind="mostrar" name="inputFoto" id="inputFoto" /> 
// var jsCode = @"window.getInputValue = function (element) { return element.value;};";

        // var valor = await JS.InvokeAsync<string>(jsCode, inputFotoRef);
        // mostrar = $"Valor del input: {valor}";
        *@