@page "/prueba-fileupload"
@using Ejemplos.Components


@rendermode InteractiveServer
@attribute [StreamRendering]

<h3>PruebaEjemplo</h3>

<div class="card">

    <FileUploadComponent @ref="_fileUpload" FilePath="./Upload"></FileUploadComponent>

    <button @onclick="Subir">Enviar</button>

    @foreach (string nombre in archivos)
    {
        <div>@nombre</div>
    }


</div>

@code {
    FileUploadComponent _fileUpload;
    List<string> archivos = new List<string>();

    async Task Subir()
    {
        foreach(var file in _fileUpload.selectedFiles)
        {
            archivos.Add(file.Name);
        }


        await _fileUpload.UploadFiles();
    }
   
}
