@page "/prueba-select-object"
@using Ejemplos.Components
@using static Ejemplos.Components.SelectObjectComponent


@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>Filtra el listado dado</h3>
                <SelectObjectComponent @bind-Personas="Personas" @bind-PersonasResult="PersonasResult" />
            </div>
        </div> 

        <div class="card">
            <div class="card-body">
                <h3>Muestra el listado filtrado</h3>
                <ListadoObjectComponent @bind-Personas="PersonasResult" />
            </div>
        </div>
    </div>
</div>

@code
{

    public List<PersonaViewModel> Personas { get; set; } =new()
    {
        new PersonaViewModel
        {
            Dni=23432432,
            Nombre="Juan"
        },
        new PersonaViewModel
        {
            Dni=33432432,
            Nombre="Maria"
        },
        new PersonaViewModel
        {
            Dni=37832432,
            Nombre="Rosa"
        }
        ,
        new PersonaViewModel
        {
            Dni=37832432,
            Nombre="Juan Alberto"
        },
        new PersonaViewModel
        {
            Dni=37832432,
            Nombre="José María"
        },
        new PersonaViewModel
        {
            Dni=37832432,
            Nombre="Ana Maria"
        }
    };

    public List<PersonaViewModel> PersonasResult { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        PersonasResult = Personas;
        return base.OnInitializedAsync();
    }
}